.inputBlock {
    width: 250px;
    padding: 5px;
}

.addImg {
    position: relative;
    overflow: hidden;
}

.addImg input {
    padding: 65px 0 20px 40px;
    border: 2px dashed rgb(210, 55, 48);
    border-radius: 5px;
}

.addImg .caption1 {
    position: absolute;
    top: 17px;

    text-align: center;
    width: 100%;
}

.addImg .caption2 {
    font-size: 14px;
    text-align: center;
}

.infoBlock {
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    flex-wrap: wrap;
}

.infoBlock p {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.infoBlock .checkTurbo {
    display: block;
}




.parameters {
    margin: 10px 0;
    border: 1px solid #979797;
    border-radius: 10px;
    background-color: #bdbdbd;
    overflow: hidden;
}

.parametersBlock .title {
    padding: 10px 0;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

.parametersBlock:not(:last-child) .title {
    border-bottom: 1px solid  #979797;
}

.param {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    padding: 10px 5px 5px;
    background-color: #e4e4e4;
}

.rel-title {
    text-align: center;
    margin-bottom: 10px;
}

.paramBlockItem {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    margin-bottom: 10px;
}

.paramBlockItem .wrapper {
    display: flex;
    align-items: center;
}

.paramBlockItem p {
    width: 170px;
    text-align: center;
}

.paramBlockItem .del {
    width: 20px;
    text-align: center;
}

.paramBlockItem input {
    max-width: 100px;
} 




.save {
    margin: 5px 0 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.save button {
    padding: 10px 20px;
    font-size: 18px;
    color: #fff;
    background-color: rgb(50, 177, 77);
    border: 1px solid  rgb(50, 177, 77);
    border-radius: 5px;
}





.modern .titleModernBlock {
    margin: 5px 5px 0 5px
}

.modern .modern-btn {
    margin: 5px;
    border: none;
    border-radius: 5px;
}

.modern .modern-btn a {
    padding: 5px 10px;
    font-size: 18px;
    text-decoration: none;

    color: #fff;
    background-color: rgb(210, 55, 48);
    border: 1px outset rgb(210, 55, 48);
    border-radius: 5px;
}

.modern .modern-btn a:hover {
    background-color: rgb(117, 40, 33);
}

.modern .modern-btn a.active {
    background-color: rgb(50, 177, 77);
    border: 1px outset  rgb(50, 177, 77);
}

.modern .paramBlock {
    width: 600px;
}

.modern .paramBlock select,
.modern .paramBlock input,
.modern .paramBlock textarea {
    margin-left: 5px;
}

.modern .paramBlock select {
    min-width: 150px;
}

.modern .paramBlock p {
    margin-bottom: 10px;
}

.modern .dr-mod {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
