* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background-color: #cdcdcd;
    background-image: url(../img/fon2.jpg);
    background-size: auto;
    background-attachment: fixed;
    color: rgb(43, 42, 41);
}

.xytki {
    min-width: 320px;
}

a {
    display: inline-block;
}

input,
select,
textarea {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid  rgb(210, 55, 48);
    font-size: 18px;
}

label {
    padding-left: 5px;
}

.width {
    width: 90%;
    margin: 0 auto;
    font-size: 18px;
}

.title {
    padding: 15px 0 10px;
    width: 100%;
    text-align: center;
}

.container {
    /* max-width: 1280px;
    margin: 0 auto; */
}

.header {
    background-color: #bdbdbd;
    box-shadow: 0 2px 5px  rgb(210, 55, 48);
    font-size: 18px;
    padding: 5px;
    height: 55px;
    width: calc(100% - 10px);

    position: fixed;
    top: 0;
    z-index: 1;
}

.header .container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header a {
    text-decoration: none;
    color: rgb(43, 42, 41);
}

.header .logo {
    width: 20%;
    max-width: 300px;
}

.header .logo img {
    width: 100%;
}

.header .btn-auth {
    border: 2px solid rgb(43, 42, 41);
    border-radius: 5px;
    padding: 5px 10px;
}

.main {
    margin-top: 65px;
    position: relative;
}

.main .container {
    display: flex;
    justify-content: space-between;
    /* align-items: start; */

    min-height: 705px;
    background-color: #e6e6e6da;
}

.footer .container {
    background-color: rgb(43, 42, 41);
    color: #fff;
    text-align: center;
    padding: 5px 0;
    font-size: 12px;
    font-weight: 300;
}



/* ----------------------- */

