.nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    list-style: none;
    text-transform: uppercase;
}

.nav .nav-item {
    position: relative;
}

.nav a {
    padding: 5px 10px;
}

.nav a:hover {
    text-decoration-line: underline;
}

.nav .hover-DM:hover .down-menu {
    display: flex;
}

.nav .down-menu {
    display: none;
    position: absolute;
    bottom: -62px;
    left: 0px;
    background-color:  #bdbdbd;
    border-radius: 0 0 5px 5px;
    z-index: 2;
}




.nav-mobile {
    display: none;
    position: fixed;
    top: 0;
    right: 0;

    height: 100%;
}

.nav-mobile .nav-menu {
    margin-left: auto;
    margin-right: -207px;
    padding: 10px;
    height: 100%;
    background-color: #bdbdbd;

    transition: .2s linear;
    position: relative;
}

.nav-mobile.open {
    background-color: rgba(37, 37, 37, 0.568);
    width: 100%;
}

.nav-mobile .nav-menu.open {
    margin-right: 0;
    transition: .2s linear;
}

.nav-mobile li {
    list-style: none;
    margin-bottom: 10px;
}

.nav-mobile li > ul {
    margin-top: 10px;
    margin-left: 20px;
}

.nav-mobile .burger {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    left: -53px;

    padding: 10px;
    background-color:  #bdbdbd;
}

.nav-mobile .icon-burg {
    margin: 2px 0;
    width: 35px;
    height: 6px;
    background-color: rgb(43, 42, 41);
    border-radius: 3px;
} 