.sorev {
    padding-bottom: 20px;
    flex: 0 0 80%;
    overflow: hidden;
}

.sorev .title {
    color: rgb(43, 42, 41);
    padding: 15px 0 5px;
    text-align: center;
}

.sorev .title a {
    color: rgb(43, 42, 41);
    text-decoration: none;
}

.wrapper-slider {
    position: relative;
    border-radius: 10px;
    margin: 0 auto;
}

.sorev-slider {
    margin: 0 auto;
    padding: 5px 0;
    width: calc(100% - 90px);

    overflow: hidden;
    position: relative;
}

.strelka {
    height: 100%;
    width: 45px;
    /* background-color: rgba(63, 63, 63, 0.527); */

    position: absolute;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.strelka.prev {
    top: 0;
    left: 0;
    /* background: linear-gradient(to left, transparent 10%, #777); */

    /* box-shadow: 2px 0 5px rgba(63, 63, 63, 0.527); */
    /* border-radius: 10px 0 0 10px; */
} 

.strelka.next {
    top: 0;
    right: 0;
    /* background: linear-gradient(to right, transparent 1%, #333); */

    /* box-shadow: -2px 0 5px rgba(63, 63, 63, 0.527); */
    /* border-radius: 0 10px 10px 0; */
}

/* .strelka div {
    position: relative;
    width: 40px;
    height: 40px;
    border: 2px solid #fff;
    border-radius: 50%;

    box-shadow: 0 0 7px rgba(65, 64, 64, 0.767);
    transition: .2s linear;
}

.strelka.prev div {
    transform: rotate(-45deg);
}

.strelka.next div {
    transform: rotate(135deg);
}

.strelka div::after,
.strelka div::before {
    content: " ";
    height: 4px;
    background-color: #fff;
    border-radius: 0 3px 3px 0;

    position: absolute;
}

.strelka div::after {
    width: 16px;
    top: 13px;
    left: 17px;
}

.strelka div::before {
    width: 20px;
    top: 21px;
    left: 5px;
    transform: rotate(90deg);
} */

.strelka div {
    width: 30px;
    height: 60px;
    border: 1px solid #000;
    border-radius: 5px;

    background-image: url(../img/strelka.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    position: absolute;
    top: calc(50% - 30px);
}

.strelka.prev div {
    transform: rotate(180deg);
}

.strelka div:hover {
    box-shadow: 0 0 4px rgba(65, 64, 64, 0.767);
    transition: .2s linear;
}

.sorev-list-coming,
.sorev-list-past {
    display: flex;
    list-style: none;
}

.sorev-item {
    transition: .4s linear;
    margin-top: auto;
}

.sorev-item:not(:last-child) {
    margin-right: 20px;
}

.sorev-item-title {
    font-weight: bold;
    text-align: center;
    font-size: 22px;
    margin-bottom: 5px;
}

.sorev-item-title a {
    text-decoration: none;
    color: #0357d6;
}

.sorev-item-block {
    background-color: #fff;
    width: 250px; 
    border-radius: 10px;
    box-shadow: 2px 2px 3px rgba(75, 75, 75, 0.815);
    overflow: hidden;

    position: relative;
}

.sorev-list-coming .sorev-item-block {
    height: 300px;  
}

.sorev-list-past .sorev-item-block {
    height: 250px;  
}

.sorev-list-coming .img,
.sorev-list-past .img {
    overflow: hidden;
    position: relative;
    width: 100%;
    
    display: flex;
    justify-content: center;
}

.sorev-list-coming .img {
    height: 225px; 
}

.sorev-list-past .img {
    height: 190px;
}

.sorev-list-coming .img img,
.sorev-list-past .img img {
    height: 100%; 
}

.sorev-list-coming .img img {
    min-height: 225px;
}

.sorev-list-past .img img {
    min-height: 190px;
}

.sorev-item .caption {
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.65);
    font-size: 14px;
    font-weight: bold;
    width: calc(100% - 10px);

    text-shadow: 0 0 2px #fff;

    position: absolute;
    bottom: 0;
    left: 0;
}

.sorev-item .caption .bold {
    font-size: 12px;
    font-style: italic;
    font-weight: bold;
}

.sorev-item-block a {
    color: #fff;
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sorev-item .btn-block {
    display: flex;
}

.sorev-item .btn-regr,
.sorev-item .btn-forum,
.sorev-item .btn-map,
.sorev-item .btn-photo {
    height: 30px;
    cursor: pointer;
}

.sorev-item .btn-regr {
    background-color: rgb(210, 55, 48);
    width: 100%;
    height: 45px;
}

.sorev-item .btn-regr:hover {
    background-color:  rgb(151, 40, 34);
}

.sorev-item .btn-forum {
    background-color: rgb(114, 114, 114);
    width: 50%;
}

.sorev-item .btn-forum:hover {
    background-color: rgb(90, 90, 90);
}

.sorev-item .btn-map {
    background-color:  #0357d6;
    width: 50%;
}

.sorev-item .btn-map:hover {
    background-color:  #013d97;
}

.sorev-item .btn-photo {
    background-color: rgb(3, 77, 31);
    width: 100%;
}

.sorev-item .btn-photo:hover {
    background-color: rgb(35, 155, 115);
}

/* ----------- ----------- */

.sorev-all {
    width: 100%;
}

.sorev-all .sorev-list-coming,
.sorev-all .sorev-list-past {
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.sorev-all .sorev-list-coming .sorev-item,
.sorev-all .sorev-list-past .sorev-item  {
    margin: auto 0 20px;
    padding: 5px;
    width: 250px;
}

/* ----------- ----------- */

.news-menu {
    flex: 0 0 calc(20% - 20px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    color: #fff;
    background-color: rgb(43, 42, 41);
    padding: 10px;
    /* height: calc(100% - 20px); */

    position: relative;
}

.news-menu .title {
    /* padding: 10px 0; */
    text-align: center;
}

.news-menu .news-item:not(:last-child) {
    margin-bottom: 10px;
}

.news-menu .bold {
    font-weight: bold;
}

.news-menu a {
    color: #fff;
    text-decoration: none;
    display: inline;
}

.news-menu a:hover {
    text-decoration: underline;
}

.news-menu iframe {
    border: none;
    width: 100%;
    height: 310px;
}

.news-menu .burger {
    position: absolute;
    top: calc(50% - 30px);
    left: -15px;

    display: none;
    align-items: center;

    padding: 15px 3px;
    background-color:  rgb(43, 42, 41);
    border-radius: 100px 0 0 100px;
} 

.news-menu .icon-burg {
    margin: 0 2px;
    width: 2px;
    background-color: #fff;
    border-radius: 3px;
} 

.news-menu .icon-burg:first-child {
    height: 25px;
}

.news-menu .icon-burg:last-child {
    height: 30px;
}
