* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background-color: #cdcdcd;
    background-image: url(./img/fon2.jpg);
    background-size: auto;
    background-attachment: fixed;
}

a {
    display: inline-block;
}

.container {
    /* max-width: 1280px;
    margin: 0 auto; */
}

.header {
    /* background-color: #fed136; */
    background-color: #bdbdbd;
    box-shadow: 0 2px 5px  rgb(210, 55, 48);
    /* border-bottom: 3px solid rgb(210, 55, 48); */
    padding: 10px 0;
    color: rgb(43, 42, 41);
    position: relative;
    z-index: 1;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header a {
    text-decoration: none;
    color: rgb(43, 42, 41);
}

.header .logo {
    width: 20%;
}

.header .logo img {
    width: 100%;
}

.header .nav ul {
    display: flex;
    flex-wrap: wrap;

    list-style: none;
    text-transform: uppercase;
}

.header .nav li:not(:last-child) {
    margin-right: 20px;
}

.header .nav a:hover {
    text-decoration-line: underline;
}

.header .btn-auth {
    border: 2px solid rgb(43, 42, 41);
    border-radius: 5px;
    padding: 5px 10px;
}

.main {
    position: relative;
}

.main .container {
    display: flex;
    justify-content: space-between;
    /* align-items: start; */

    min-height: 700px;
    background-color: #e6e6e6da;
}

.main .sorev {
    padding-bottom: 20px;
    flex: 0 0 80%;
    overflow: hidden;
}

.main .sorev-title {
    color: rgb(43, 42, 41);
    padding: 15px 0 5px;
    text-align: center;
}

.main .wrapper-slider {
    position: relative;
    border-radius: 10px;
    margin: 0 auto;
    /* overflow: hidden; */
    /* border: 2px solid rgba(63, 63, 63, 0.527); */
}

.main .sorev-slider {
    margin: 0 auto;
    padding: 5px 0;
    width: calc(100% - 120px);

    overflow: hidden;
    position: relative;
}

.main .strelka {
    height: 100%;
    width: 60px;
    /* background-color: rgba(63, 63, 63, 0.527); */

    position: absolute;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.main .strelka.prev {
    top: 0;
    left: 0;
    /* background: linear-gradient(to left, transparent 10%, #777); */

    /* box-shadow: 2px 0 5px rgba(63, 63, 63, 0.527); */
    /* border-radius: 10px 0 0 10px; */
} 

.main .strelka.next {
    top: 0;
    right: 0;
    /* background: linear-gradient(to right, transparent 1%, #333); */

    /* box-shadow: -2px 0 5px rgba(63, 63, 63, 0.527); */
    /* border-radius: 0 10px 10px 0; */
}

.main .strelka div {
    position: relative;
    width: 40px;
    height: 40px;
    border: 2px solid #fff;
    border-radius: 50%;

    box-shadow: 0 0 7px rgba(65, 64, 64, 0.767);
    transition: .2s linear;
}

.main .strelka.prev div {
    transform: rotate(-45deg);
}

.main .strelka.next div {
    transform: rotate(135deg);
}

.main .strelka div::after,
.main .strelka div::before {
    content: " ";
    height: 4px;
    background-color: #fff;
    border-radius: 0 3px 3px 0;

    position: absolute;
}

.main .strelka div::after {
    width: 16px;
    top: 13px;
    left: 17px;
}

.main .strelka div::before {
    width: 20px;
    top: 21px;
    left: 5px;
    transform: rotate(90deg);
}

.main .strelka div:hover {
    box-shadow: 0 0 2px rgba(65, 64, 64, 0.767);
    transition: .2s linear;
}

.main .sorev-list-coming,
.main .sorev-list-past {
    display: flex;
    list-style: none;
}

.main .sorev-item {
    transition: .4s linear;
    margin-top: auto;
}

.main .sorev-item:not(:last-child) {
    margin-right: 20px;
}

/* .main .sorev-item {
    margin-left: 15px;
} */

.main .sorev-item-block {
    background-color: #fff;
    width: 250px; 
    border-radius: 10px;
    box-shadow: 2px 2px 3px rgba(75, 75, 75, 0.815);
    overflow: hidden;

    position: relative;
}

.main .sorev-list-coming .sorev-item-block {
    height: 300px;  
}

.main .sorev-list-past .sorev-item-block {
    height: 250px;  
}

.main .sorev-item-title {
    color: #0357d6;
    font-weight: bold;
    /* font-style: italic; */
    text-align: center;
    font-size: 22px;
    /* text-shadow: 0 0 2px rgb(0, 0, 0); */
    margin-bottom: 5px;
}

.main .sorev-list-coming .img,
.main .sorev-list-past .img {
    overflow: hidden;
    position: relative;

}

.main .sorev-list-coming .img {
    height: 225px;
}

.main .sorev-list-past .img {
    height: 190px;
}

.main .sorev-item .img img {
    height: 100%;
    /* width: 100%; */
}

.main .sorev-item .caption {
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.2);
    font-size: 14px;
    font-weight: bold;
    width: calc(100% - 10px);

    text-shadow: 0 0 3px #fff;

    position: absolute;
    bottom: 0;
    left: 0;
}

.main .sorev-item .caption .bold {
    /* font-weight: bold; */
    font-size: 12px;
    font-style: italic;
    font-weight: normal;
}

.main .sorev-item .btn-block {
    display: flex;
}

.main .sorev-item .btn-regr,
.main .sorev-item .btn-forum,
.main .sorev-item .btn-map,
.main .sorev-item .btn-photo {
    color: #fff; 
    height: 30px;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}

.main .sorev-item .btn-regr {
    background-color: rgb(210, 55, 48);
    width: 100%;
    height: 45px;
}

.main .sorev-item .btn-regr:hover {
    background-color:  rgb(151, 40, 34);
}

.main .sorev-item .btn-forum {
    background-color: rgb(114, 114, 114);
    width: 50%;
}

.main .sorev-item .btn-forum:hover {
    background-color: rgb(90, 90, 90);
}

.main .sorev-item .btn-map {
    background-color:  #0357d6;
    width: 50%;
}

.main .sorev-item .btn-map:hover {
    background-color:  #013d97;
}

.main .sorev-item .btn-photo {
    background-color: rgb(3, 77, 31);
    width: 100%;
}

.main .sorev-item .btn-photo:hover {
    background-color: rgb(35, 155, 115);
}

.main .news-menu {
    flex: 0 0 calc(20% - 20px);
    color: #fff;
    background-color: rgb(43, 42, 41);
    padding: 10px;
}

.main .news-menu .title {
    padding: 10px 0;
    text-align: center;

}

.main .news-menu .news-item:not(:last-child) {
    margin-bottom: 10px;
}

.footer .container {
    background-color: rgb(43, 42, 41);
    color: #fff;
    text-align: center;
    padding: 5px 0;
    font-size: 12px;
    font-weight: 300;
}



/* ----------------------- */

.wrapper-auth {
    margin: 50px auto 0;
}

.auth {
    width: 350px;
    /* max-height: 650px; */
    padding-bottom: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(71, 71, 71);
}

.auth .logo {
    width: 100%;
    
    padding: 20px 0;
    border-bottom: 2px solid rgb(210, 55, 48);
}

.auth .logo .img {
    margin: 0 auto;
    width: 300px;
}

.auth .logo img {
    width: 100%;
}

.auth .btn-block {
    display: flex;
    margin-bottom: 10px;
}

.auth .btn-block a {
    width: 50%;
    text-align: center;
    padding: 10px 0;
    font-size: 18px;
    background-color:  #bdbdbd;
    color:  #474747;
    text-decoration: none;
}

.auth .btn-block a.active {
    background-color:  #ffffff;
    color:  #474747;
}

.auth .form-regr,
.auth .form-enter {
    display: flex;
    flex-direction: column;

    max-width: 300px;
    margin: 0 auto;
}

.auth .form-regr input,
.auth .form-enter input {
    padding: 5px 10px;
    margin-top: 10px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid  rgb(210, 55, 48);
}

.auth .btn-form-regr,
.auth .btn-form-enter {
    padding: 10px 0;
    margin-top: 10px;

    background-color:  rgb(210, 55, 48);
    border: 1px solid  rgb(210, 55, 48);
    border-radius: 5px;
    font-size: 18px;
    color: #fff;
}

.auth .btn-form-enter {
    margin-top: 20px;
}

.auth .form-enter .reset-pass {
    margin-top: 10px;
}

.auth .remember-block input {
    cursor: pointer;
}

.auth .remember-block label {
    padding-left: 5px;
    cursor: pointer;
}

.auth .form-enter .or {
    margin: 10px 0;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.auth .form-enter a {
    text-decoration: none;
}

.auth .btn-google,
.auth .btn-yandex {
    width: 100%;
    padding: 10px 0;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;

    display: flex;
}

.auth .btn-google {
    background-color:  rgb(215, 97, 75);
    border: 1px solid  rgb(215, 97, 75);
    color: #fff;
}

.auth .btn-yandex {
    background-color:  rgb(241, 210, 71);
    border: 1px solid  rgb(241, 210, 71);
    color: rgb(210, 55, 48);
    margin-top: 10px;
}

.auth .icon {
    width: 50px;
    height: 20px;
    border-right: 1px solid #fff;
    margin-right: 15px;
}

.auth .btn-yandex .icon {
    border-right: 1px solid rgb(210, 55, 48);
}

.auth .icon img {
    height: 100%;
}
